#### Added by Drupal Env project scaffolding ####

/core
/*/contrib
/sites/*/files
# Ignore test environment.
/sites/simpletest
/sites/*/settings.local.php

#### End added by Drupal Env project scaffolding ####
